.jumbotron {
  margin-top: 20px;
  height: 200px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKZgbj59zqBlNZY75SQK4kxV1EMoR_LP-nKTTi3bknsenex7Jv");
  background-repeat: no-repeat;
  background-size: cover;
}
